<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span class="badge badge-primary">Employee Enroll</span>
            <form #employeeForm=ngForm (ngSubmit)="empForm(employeeForm)">
                <div class="card mb-2">
                    <div class="card-header">
                        <h6>Employee Enroll</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Full Name" class="text-muted form-control-label">Full Name</label>
                                <input id="Full Name" name="fullName" [(ngModel)]="fullName" placeholder="Full Name"
                                    class="form-control" type="text"
                                    [ngClass]="{'is-invalid': fullNameControl.invalid && fullNameControl.touched}"
                                    #fullNameControl="ngModel" required>
                                    <span class="invalid-feedback" *ngIf="fullNameControl.invalid && fullNameControl.touched">Full Name is
                                        required.</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="text-muted">Gender</label>
                                <div class="form-control">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio1" name="gender"
                                            [(ngModel)]="gender" value="male">
                                        <label class="custom-control-label" for="customRadio1">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio2"
                                            [(ngModel)]="gender" name="gender" value="female">
                                        <label class="custom-control-label" for="customRadio2">Female</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="text-muted">Contact Preference</label>
                                <div class="form-control">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio4"
                                            name="contactpreference" [(ngModel)]="contactpreference" value="emailid"
                                            (click)="isEPref()">
                                        <label class="custom-control-label" for="customRadio4">Email ID</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio3"
                                            name="contactpreference" [(ngModel)]="contactpreference" value="mobileno"
                                            (click)="isMPref()">
                                        <label class="custom-control-label" for="customRadio3">Mobile</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6" *ngIf="isEmail">
                                <label for="inputEmail4" class="text-muted">Email</label>
                                <input type="email" name="email" [(ngModel)]="email" class="form-control"
                                    id="inputEmail4" placeholder="Email" [ngClass]="{'is-invalid': emailControl.invalid && emailControl.touched}"
                                    #emailControl="ngModel" required>
                                    <span class="invalid-feedback" *ngIf="fullNameControl.invalid && fullNameControl.touched">
                                        Email is required.</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="text-muted">Status</label>
                                <div class="form-control">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck"
                                            name="status" [(ngModel)]="status" [ngClass]="{'is-invalid': statusControl.invalid && statusControl.touched}"
                                            #statusControl="ngModel" required>
                                        <label class="custom-control-label" for="customCheck">isActive</label>
                                        <span class="invalid-feedback" *ngIf="statusControl.invalid && statusControl.touched">
                                            Status is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6" *ngIf="isMobile">
                                <label for="inputMobile" class="text-muted">Mobile Number</label>
                                <input type="number" name="mobile" [(ngModel)]="mobile" class="form-control"
                                    id="inputMobile" placeholder="Mobile Number" [ngClass]="{'is-invalid': mobileControl.invalid && mobileControl.touched}"
                                    #mobileControl="ngModel" required>
                                    <span class="invalid-feedback" *ngIf="mobileControl.invalid && mobileControl.touched">
                                        Mobile number is required.</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="text-muted">Department</label>
                                <select id="dept" name="dept" class="custom-select" [(ngModel)]="dept"
                                    value="Select Department" [ngClass]="{'is-invalid': deptControl.invalid && deptControl.touched}"
                                    #deptControl="ngModel" required>
                                    <option *ngFor="let dept of departments" [value]="dept.name">{{dept.name}}</option>
                                </select>
                                <span class="invalid-feedback" *ngIf="deptControl.invalid && deptControl.touched">
                                        Department is required.</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="text-muted">Date of Birth</label>
                                <input type="text" placeholder="Select Date" name="date" [(ngModel)]="dob" class="form-control" bsDatepicker
                                    [bsConfig]="bsConfig" [ngClass]="{'is-invalid': dateControl.invalid && dateControl.touched}"
                                    #dateControl="ngModel" required>
                                    <span class="invalid-feedback" *ngIf="dateControl.invalid && dateControl.touched">
                                        DOB is required.</span>
                            </div>
                        </div>

                        <!-- <div class="form-row">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                      <label class="form-check-label" for="invalidCheck2">
                                        <small>By clicking Submit, you agree to our Terms & Conditions, Visitor Agreement and Privacy Policy.</small>
                                      </label>
                                    </div>
                                  </div>
                              </div>
                        </div> -->
                    </div>
                    <div class="card-footer text-muted clearfix">
                        <div class="card-text float-left">Emp entered details : <b>{{employeeForm.value | json}}</b>
                        </div>
                        <button type="submit" class="btn btn-primary float-right" [disabled]="employeeForm.invalid">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>