<span class="badge badge-primary">Display-employee @Input (p->c) data comes from here!</span>
<div class="card cursor-pointer">
    <div class="card-header clearfix">
        <div class="float-left">
            <span>Employee Name: <b>{{employee.name}}</b><br>
                Employee ID:
                <span><b>{{employee.id}}</b></span>
            </span>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-primary float-right btn-sm" (click)="handleClick()" role="button">
                Click here for selected details</button>
        </div>
    </div>
    <div class="card-body">
        <h6 class="card-title">Employee Details:</h6>
        <div class="card-text">Gender : <b>{{employee.gender}}</b></div>
        <div class="card-text">Email : <b>{{employee.email}}</b></div>
        <div class="card-text">Preference : <b>{{employee.contactPreference}}</b></div>
        <div class="card-text">Phone : <b>{{employee.phoneNumber}}</b></div>
        <div class="card-text">Date of Birth : <b>{{employee.dateOfBirth | date: 'dd/MM/yyyy'}}</b></div>
        <div class="card-text">Dept. : <b>{{employee.department}}</b></div>
        <div class="card-text">Status : <b>{{employee.isActive}}</b></div>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer clearfix">
        <div class="float-right">
            <button type="button" class="btn btn-primary btn-sm" (click)="onClick(employee.id)" role="button">Click here for view more details >></button>
        </div>
      </div>
</div>