<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span class="badge badge-primary">Employee List</span>
            <div class="card text-muted mb-2 pl-3 pt-2 pb-2 pr-3 border border-primary" *ngIf="datafromChild">
                <span class="badge badge-primary" *ngIf="datafromChild">Display-employee @Output (c->p) data comes from here!</span>
                <div class="card-text">Selected Card Employee Name : <b>{{datafromChild}}</b></div>
               
            </div>
            <div class="card mb-2" *ngFor="let employee of employees">
                <app-display-employee [employee]="employee" (notify)="handleNofify($event)"></app-display-employee>
                
            </div>
        </div>
    </div>
</div>